.radioContainer {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  max-width: 50%;
}

.radio {
  padding: 0.5rem;
  font-size: 1rem;
}

.button {
  margin: 1rem;
  width: auto;
  height:1.5rem;
  cursor: pointer;
}