.container {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  margin-top: 2rem;
}

.radio {
  padding: 0.5rem;
  font-size: 1rem;
}


.button {
  background-color: #1B263B;
  color: #FFF;
  padding: 5px 5px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
}

.button:hover {
  background-color: #415A77
}