.nav {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 3rem;
  padding: 0 20px;
  top: 0;
  left: 0;
  right: 0;

}

.link {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  padding-left: 1rem;
  color: #fff;
}
.profileLink {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  margin-left: auto;
}

.menuBtn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.menuBtn svg {
  fill: #fff;
}

.menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  background-color: #333;
  padding: 20px;
}

.menu.open {
  display: block;
}

.links {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  width: 100%;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .nav {
    justify-content: space-between;
  }

  .menuBtn {
    display: block;
  }
}
