.container {
  padding: 1em;
  background-color: darkslategray;
  width: 50%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2rem;
}

.item {
  text-decoration: underline;
  font-size: 1rem;
  padding-top: 1rem;
  flex-basis: 50%;
}

@media only screen and (min-width: 768px) {
  .item {
    flex-basis: 33.33%;
  }
}

@media only screen and (min-width: 1024px) {
  .item {
    flex-basis: 25%;
  }
}